@import "tailwindcss";

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
.dark ::-webkit-scrollbar-track {
  background: #1f2937; 
}
::-webkit-scrollbar-thumb {
  background: #d1d5db; 
  border-radius: 4px;
}
.dark ::-webkit-scrollbar-thumb {
  background: #4b5563; 
}